
<div class="country-item">
    <img class="contry-img" src="{{flags.svg}}" alt="flag{{name.official}}" width="80">
    <h2 class="country-heading"> {{name.official}} </h2>
</div>
    <ul class="country-form list">
        <li> <span class="country-form-name"> Capital: </span> {{capital}} </li>
        <li> <span class="country-form-name"> Population: </span> {{population}} </li>
        <li> <span class="country-form-name"> Languages: </span>
                {{#each languages}}
                {{#if @last}} 
                {{this}}
                 {{else}} 
                {{this}},
                {{/if}}
                {{/each}}
           
            
        </li>
    </ul>
